</h1><form name="form2" action="updateForm" method="post">
    <input type="text" name="id" id="id" value="{{id}}" readonly><br>
    <input type="text" name="name" id="name" placeholder="Name:"><br>
    <input type="text" name="age" id="age" placeholder="Age:"><br>
    <input type="submit" name="btnSubmit" id="btnSubmit" value="Update"><br>
</form>